:root {
  --dark-brown: #512d38;
  --dusty-rose: #b27092;
  --light-pink: #f4bfdb;
  --very-light-pink: #ffe9f3;
  --light-teal: #87baab;
}

body {
  background-color: var(--very-light-pink);
  color: var(--dark-brown);
  font-family: sans-serif;
}

header {
  background-color: var(--dusty-rose);
  color: var(--very-light-pink);
  padding: 1rem;
}

main {
  background-color: var(--light-pink);
  padding: 1rem;
}

a {
  color: var(--dark-brown);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--light-teal);
  color: var(--dark-brown);
  padding: 1rem;
}