:root {
  --dark-brown: #512d38;
  --dusty-rose: #b27092;
  --light-pink: #f4bfdb;
  --very-light-pink: #ffe9f3;
  --light-teal: #87baab;
}

body {
  background-color: var(--very-light-pink);
  color: var(--dark-brown);
  font-family: sans-serif;
}

header {
  background-color: var(--dusty-rose);
  color: var(--very-light-pink);
  padding: 1rem;
}

main {
  background-color: var(--light-pink);
  padding: 1rem;
}

a {
  color: var(--dusty-rose);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--light-teal);
  color: var(--dark-brown);
  padding: 1rem;
}
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}
main{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}