body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    line-height: 1.6;
}

header, main, footer {
    width: 90%;
    margin: auto;
    padding: 20px;
}

header {
    background: #555;
    color: #fff;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}