body {
    font-family: Arial, sans-serif; 
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    line-height: 1.6;
}

header {
    background: #50b3a2;
    color: white;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.2em;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    padding: 0 20px 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}