<footer>
    <p>Page created by Caroline | &copy; 2025</p>

    <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fwebpages.uncc.edu%2Fyourid%2Fitis3135%2F" 
       target="_blank">
        <img style="border:0;width:88px;height:31px" 
             src="images/w3c-html.png" 
             alt="Valid HTML!">
    </a>

    <a href="https://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fwebpages.uncc.edu%2Fyourid%2Fitis3135%2F&profile=css3p&usermedium=all&warning=1&vextwarning=&lang=en" 
       target="_blank">
        <img style="border:0;width:88px;height:31px"
             src="images/w3c-css.png" 
             alt="Valid CSS!">
    </a>
</footer>