<h1>Caroline McGowan | Clever Monkey</h1>
<h2>ITIS 3135</h2>

<nav>
 
    <a href="../index.html">Personal Homepage</a> |
    <a href="index.html">ITIS 3135 Home</a> |
    <a href="introduction.html">Introduction</a> | 
    <a href="contract.html">Course Contract</a> |
    <a href="stuff/My-Awful-Page-2025.html">Crappy Website</a> |
    <a href="website_evaluations.html">Website Evaluation</a> |
    <a href="intro_form.html">Introduction Form</a> |
    <a href="hobby/index.html">Hobby Site</a>
    <br>

    <a href="fccfsjs_outline.html">FCC Outline</a> |
    <a href="https://github.com/crlnmcgowan12">GitHub.com</a> |
    <a href="http://webpages.charlotte.edu/cmcgowa8/">CLT Web</a> |
    <a href="https://crlnmcgowan12.github.io/">GitHub.io</a> |
    <a href="campuslifehub/project_overview.html">Project Overview</a> |
    <a href="http://www.linkedin.com/in/carolinemcgowan">LinkedIn</a>
</nav>
